<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Price</ion-label>
      <ion-input formControlName="price" type="number"  required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-input formControlName="description" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Picure</ion-label>
      <input type="file" (change)="setFile($event)" >
    </ion-item>
    <ion-item>
      <div *ngIf="file; else newImage">
        <img [src]="imageSrc">

      </div>
      <ng-template #newImage>
        <img [src]="carPost.image_path">
      </ng-template>
    </ion-item>
    <ion-button type="submit" expand="full">Submit</ion-button>
  </form>
</ion-content>
